body,
html {
  /* height: 100%; */
  margin: 0;
  font-family: 'Source Serif 4', sans-serif;
  background-color: brown;
}
.container {
  height: 80%;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  padding: 1em 10em;
  margin: 1em 5em;
  background-color: rgba(0,0,0,0.5);
}
.header_container {
  display: flex;
  flex-direction: column;
}
.title_style {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.title_style h2{
    padding: 0 10rem;
}
.describe_container .about_request,.describe_container .describe_text {
  margin: 3rem 2rem;
  font-size: 1.25em;
}
/* .describe_text {
  margin: 3rem 2rem;
} */
.list_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 50%;
}