body,
html {
  height: 100%;
  margin: 0;
}
.container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: brown;
}
.header_container {
  display: flex;
  flex-direction: column;
}
.title_style {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}
.describe_container {
  display: flex;
}
.describe_text {
  margin: 3rem 2rem;
  flex: 50%;
}
.list_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 50%;
}