body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}
html {
  block-size: 100%;
  inline-size: 100%;
  margin: 0;
  font-family: "Source Serif 4", sans-serif;

  /* background-color: rgba(26, 143, 22); */
}
.container {
  height: 80%;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  padding: 0.4em 10em;
  margin: 2em 5em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.header_container {
  display: flex;
  flex-direction: column;
}
.title_style {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title_style h2 {
  padding: 0 3em;
}
.describe_container .about_request,
.describe_container .describe_text {
  margin: 3rem 2rem;
  font-size: 1.25em;
}
/* .describe_text {
  margin: 3rem 2rem;
} */
.list_container {
  /* align-items: center;
  justify-content: flex-start;
  flex: 50%; */
  font-weight: 600;
  margin: 0.1rem 2rem !important;
}
.list_container ul{
  padding-left: 1.2em !important;
}
.list_container ul li{
  padding: 0.6em 0em !important;
}
.data_container{
  margin: 1em 0em;
}

/* Hover effects */
p::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

p:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p::before {
  content: " ";
  display: block;
  position: absolute;
  /* top: 0; right: 0; bottom: 0; left: 0; */
  inset: 10px; /* value applied to all edges */
inset: 4px 8px; /* top/bottom left/right */
inset: 5px 15px 10px; /* top left/right bottom */
inset: 2.4em 3em 3em 3em; /* top right bottom left */
  background: hsl(200 100% 80%);
  z-index: 1;
  transition: transform .3s ease;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
